# **ML Analysis and Proccessing of the data**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Read the data

fredData = pd.read_csv('FRED_Data.csv')
fredData

            Date  High Yield Spread  WTI Oil Price  10-Yr Yield
0     2000-09-18               6.35          36.75         5.88
1     2000-09-19               6.41          36.96         5.86
2     2000-09-20               6.43          37.22         5.91
3     2000-09-21               6.45          33.84         5.88
4     2000-09-22               6.50          32.66         5.85
...          ...                ...            ...          ...
6332  2024-12-25                NaN            NaN          NaN
6333  2024-12-26               2.86          70.38         4.58
6334  2024-12-27               2.84          71.28         4.62
6335  2024-12-30               2.94          71.73         4.55
6336  2024-12-31               2.92          72.44         4.58

[6337 rows x 4 columns]

In [3]:
# Read the data

nasdaqData = pd.read_csv('dataNQ.csv')
nasdaqData

,Date,Close,SMA100,RSI,VWAP,VIX Close,DXY Close,Daily ROC
0,2000-09-18,3653.50,78.568900,38.636200,3680.333333,20.250000,116.010002,0.006500
1,2000-09-19,3804.00,78.585400,46.782900,3759.000000,19.540001,116.129997,0.041193
2,2000-09-20,3853.00,78.584300,49.899100,3814.166667,19.930000,116.290001,0.012881
3,2000-09-21,3765.00,78.517400,38.345800,3794.333333,20.180000,115.000000,-0.022839
4,2000-09-22,3776.00,78.541200,48.106700,3723.666667,20.740000,113.339996,0.002922
...,...,...,...,...,...,...,...,...
6092,2024-12-12,21651.25,20048.355098,69.595803,21676.000000,13.920000,106.959000,-0.006527
6093,2024-12-13,21795.75,20074.280098,71.296713,21790.083333,13.810000,106.992996,0.006674
6094,2024-12-16,22110.25,20105.460098,74.550898,22008.250000,14.690000,107.029999,0.014429
6095,2024-12-17,22014.75,20133.862598,70.529701,22027.166667,15.870000,106.663002,-0.004319
6096,2024-12-18,21218.75,20153.957598,56.538555,21445.583333,27.620001,107.749001,-0.036158

# Merge the data

In [4]:
# Merge the data

nasdaqData['Date'] = pd.to_datetime(nasdaqData['Date'])
fredData['Date'] = pd.to_datetime(fredData['Date'])

nasdaqData = nasdaqData.drop_duplicates(subset='Date')
fredData = fredData.drop_duplicates(subset='Date')

data_full = pd.merge(nasdaqData, fredData, on = 'Date', how = 'inner')
data_full

,Date,Close,SMA100,RSI,VWAP,VIX Close,DXY Close,Daily ROC,High Yield Spread,WTI Oil Price,10-Yr Yield
0,2000-09-18,3653.50,78.568900,38.636200,3680.333333,20.250000,116.010002,0.006500,6.35,36.75,5.88
1,2000-09-19,3804.00,78.585400,46.782900,3759.000000,19.540001,116.129997,0.041193,6.41,36.96,5.86
2,2000-09-20,3853.00,78.584300,49.899100,3814.166667,19.930000,116.290001,0.012881,6.43,37.22,5.91
3,2000-09-21,3765.00,78.517400,38.345800,3794.333333,20.180000,115.000000,-0.022839,6.45,33.84,5.88
4,2000-09-22,3776.00,78.541200,48.106700,3723.666667,20.740000,113.339996,0.002922,6.50,32.66,5.85
...,...,...,...,...,...,...,...,...,...,...,...
6092,2024-12-12,21651.25,20048.355098,69.595803,21676.000000,13.920000,106.959000,-0.006527,2.66,70.25,4.32
6093,2024-12-13,21795.75,20074.280098,71.296713,21790.083333,13.810000,106.992996,0.006674,2.68,71.54,4.40
6094,2024-12-16,22110.25,20105.460098,74.550898,22008.250000,14.690000,107.029999,0.014429,2.69,71.03,4.39
6095,2024-12-17,22014.75,20133.862598,70.529701,22027.166667,15.870000,106.663002,-0.004319,2.75,70.31,4.40
6096,2024-12-18,21218.75,20153.957598,56.538555,21445.583333,27.620001,107.749001,-0.036158,2.73,70.80,4.50

In [5]:
# Rename 

data_full = data_full.rename(columns = {'Daily ROC': 'Daily NQ ROC'})

# Move the target variable to the last column

data_full = data_full[['Date', 'Close', 'SMA100', 'RSI', 'VWAP', 'VIX Close', 'High Yield Spread', 'WTI Oil Price', '10-Yr Yield', 'Daily NQ ROC']]

# Only use 2 decimal places

data_full = data_full.round(2)

In [6]:
data_full

,Date,Close,SMA100,RSI,VWAP,VIX Close,High Yield Spread,WTI Oil Price,10-Yr Yield,Daily NQ ROC
0,2000-09-18,3653.50,78.57,38.64,3680.33,20.25,6.35,36.75,5.88,0.01
1,2000-09-19,3804.00,78.59,46.78,3759.00,19.54,6.41,36.96,5.86,0.04
2,2000-09-20,3853.00,78.58,49.90,3814.17,19.93,6.43,37.22,5.91,0.01
3,2000-09-21,3765.00,78.52,38.35,3794.33,20.18,6.45,33.84,5.88,-0.02
4,2000-09-22,3776.00,78.54,48.11,3723.67,20.74,6.50,32.66,5.85,0.00
...,...,...,...,...,...,...,...,...,...,...
6092,2024-12-12,21651.25,20048.36,69.60,21676.00,13.92,2.66,70.25,4.32,-0.01
6093,2024-12-13,21795.75,20074.28,71.30,21790.08,13.81,2.68,71.54,4.40,0.01
6094,2024-12-16,22110.25,20105.46,74.55,22008.25,14.69,2.69,71.03,4.39,0.01
6095,2024-12-17,22014.75,20133.86,70.53,22027.17,15.87,2.75,70.31,4.40,-0.00
6096,2024-12-18,21218.75,20153.96,56.54,21445.58,27.62,2.73,70.80,4.50,-0.04